.newTodo {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 100px auto;
    gap: 5px;
}

input {
    height: 30px;
    border: none;
    font-size: large;
    border-bottom: 2px solid rgb(55, 56, 45);
    background-color: rgb(245, 245, 212);
    border-radius: 5px 5px 0 0;
    outline: none;
    padding: 5px;
}

button {
    width: 200px;
    height: 30px;
    margin: 30px auto;
    background-color: rgb(243, 205, 69);
    border: none;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: rgb(202, 164, 26);
}